div {
    border: 1px solid;
    margin: 10px;
}
#mit-body {
    display: flex;
}
#jobs {
    display: flex;
    justify-content: center;
}
#timeline {
    width: 95%;
}
#party-list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
#order {
    display: flex;
}