div {
    border: 1px solid;
    margin: 10px;
}
#mit-body {
    display: flex;
}
#jobs {
    display: flex;
    justify-content: center;
}
#timeline {
    width: 95%;
}
#party-list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
#order {
    display: flex;
    justify-content: space-evenly;
}
#order > * {
    margin: 0;
}
#miti-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
#miti-list * {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
#miti-list img {
    width: 60%;
}